* {
    margin: 0;
    padding: 0;
}

div {
    width:30px;
    height:30px;
    float:left;
}
#cart { 
    width: auto;    
    position: absolute;
    margin-top: 320px;
    margin-left: 30px;    
}
.cartDiv {
    width: auto;    
    font-size: 18px;
    padding: 5px; 
    text-align: center;   
}
.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;    
}
#catalog {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    display: block;
    width: 250px;
    height: 200px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid black; 
    
}
.itemName{
    width: 230px;
    height: 35px;
    font-size: 16px;
    float:left;
    display: flex;
}
.itemId{
    width: 120px;
    height:30px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}
.itemProp{
    width: 280px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
}
.buttonBuy {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 25px;
    background-color: lavender;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
}
.buttonBuy:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    transition: all 0.5s ease-in-out;
}
