* {
    margin: 0;
    padding: 0;
}

div {
    width:30px;
    height:30px;
}
#cart { 
    width: auto;
    height: 20px;
    line-height: 20px;
    background-color: lightgray;
    margin-top: 50px;
    border-radius: 20px;
    padding: 5px;
}
.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;    
}
#catalog {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    display: block;
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid black; 
}
.img{
    display: flex;
    float: right;
    position: absolute;
}
.imageDiv{
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 20px;
}
.link{
    display: block;
    width:100%;
    height: 100%;
    position: relative;
    
}
.itemName{
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
}
.itemProp{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
}
.buttonBuy {
    text-decoration: none;
    width: 100px;
    background-color: lavender;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
.buttonBuy:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    transition: all 0.5s ease-in-out;
}
